In [64]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from time import sleep

PATH = 'D:\Learnings\web_driver\chromedriver.exe'

driver = webdriver.Chrome(executable_path=PATH)
driver.maximize_window()

driver.get('https://www.imoti.net/en/obiavi/r/prodava/evbeja/kashta/?sid=iAY4nY')

size = driver.find_elements(By.XPATH,"//*[@class='inline-group']/h3/span[2]")
rate = driver.find_elements(By.XPATH,"//ul/li[2]/strong")
price = driver.find_element(By.XPATH,"//div/header/strong")

prices = []
sizes = []
rates = []
nxt = driver.find_element(By.XPATH,"//a[@title='Next']")
rng = len(driver.find_elements(By.XPATH,'//nav[@class="paginator"]/a'))
for i in range(1,rng):
    print("Scraping page", i)
    price = driver.find_elements(By.XPATH,"//div/header/strong")
    size = driver.find_elements(By.XPATH,"//*[@class='inline-group']/h3/span[2]")
    rate = driver.find_elements(By.XPATH,"//ul/li[2]/strong")

    for j in price:
        prices.append(j.text)
    for k in size:
        sizes.append(k.text)
    for l in rate:
        rates.append(l.text)
    nxt.click()
    sleep(5)

C:\Users\a\AppData\Local\Temp\ipykernel_15072\3355791073.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=PATH)

Scraping page 1

In [63]:
data = pd.DataFrame()
data['Price'] = prices
data['House Size'] = sizes
data['Area Rate'] = rates

data

            Price House Size  Area Rate
0      89 000 EUR      73 М2  1 219 EUR
1     100 000 EUR      89 М2  1 124 EUR
2     110 000 EUR     120 М2    917 EUR
3     120 000 EUR      80 М2  1 500 EUR
4     137 000 EUR     130 М2  1 054 EUR
5     140 000 EUR     185 М2    757 EUR
6     140 000 EUR      73 М2  1 918 EUR
7     152 000 EUR     156 М2    974 EUR
8     160 000 EUR      81 М2  1 975 EUR
9     160 000 EUR     100 М2  1 600 EUR
10    168 000 EUR      98 М2  1 714 EUR
11    170 000 EUR     312 М2    545 EUR
12    170 000 EUR     130 М2  1 308 EUR
13    182 000 EUR     111 М2  1 640 EUR
14    190 000 EUR     143 М2  1 329 EUR
15    200 000 EUR     165 М2  1 212 EUR
16    210 000 EUR     135 М2  1 556 EUR
17    210 000 EUR      70 М2  3 000 EUR
18    250 000 EUR     100 М2  2 500 EUR
19    250 000 EUR     105 М2  2 381 EUR
20    260 000 EUR     260 М2  1 000 EUR
21    275 000 EUR     163 М2  1 687 EUR
22    275 000 EUR     120 М2  2 292 EUR
23    300 000 EUR     101 М2  2 970 EUR
24    300 000 EUR     120 М2  2 500 EUR
25    310 000 EUR     200 М2  1 550 EUR
26    320 000 EUR     190 М2  1 684 EUR
27    320 000 EUR     135 М2  2 370 EUR
28    335 000 EUR     190 М2  1 763 EUR
29    336 000 EUR     207 М2  1 623 EUR
30    350 000 EUR     150 М2  2 333 EUR
31    390 000 EUR     280 М2  1 393 EUR
32    430 000 EUR     200 М2  2 150 EUR
33    450 000 EUR     132 М2  3 409 EUR
34    600 000 EUR     430 М2  1 395 EUR
35    685 000 EUR     220 М2  3 114 EUR
36    690 000 EUR     200 М2  3 450 EUR
37    690 000 EUR     292 М2  2 363 EUR
38    730 000 EUR     400 М2  1 825 EUR
39    850 000 EUR     250 М2  3 400 EUR
40  1 100 000 EUR     550 М2  2 000 EUR
41  1 350 000 EUR     350 М2  3 857 EUR
42  1 400 000 EUR     570 М2  2 456 EUR
43  1 600 000 EUR     204 М2  7 843 EUR
44  1 800 000 EUR     550 М2  3 273 EUR
45  2 700 000 EUR     475 М2  5 684 EUR

In [61]:
driver.quit()